body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  margin: 0;
  padding: 0;

  background-color: #849d8f;
  /*background-image: url(../img/gllacy-index.jpg);*/
  background-image: url(../img/gllacy-catalog.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

img{
  max-width: 100%;
  height: auto;
}

/*этот класс унас на всем что выглядит как красная кнопка*/
.button{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  padding: 0;

  cursor: pointer;
  text-decoration: none;

  border: none;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.button:hover,
.button:focus{
  background-color: #ffffff;
  background-image: linear-gradient(to top, rgba(231, 74, 53, .8) 0%, rgba(242, 104, 67, .8) 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.button:active{
  background-color: #ffffff;
  background-image: linear-gradient(to top, rgba(231, 74, 53, .93) 0%, rgba(242, 104, 67, .93) 100%);
  box-shadow: inset 0 2px 2px #942718;
}

/*hover и focuse всех ссылок по умолчанию*/
.default-link{
  fill: #ffffff;
}
.default-link:hover,
.default-link:focus,
.default-link:active{
  color: #ffbc9e;

  outline: none;

  fill: #ffbc9e;
}

/*обнуляем отступы в списках*/
.list{
  margin: 0;
  padding: 0;

  list-style: none;
}

/*класс скрывающий эллементы*/
.visually-hidden{
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

/*ограниччивает ширину и выравнивает*/
.content-container{
  width: 1146px;
  margin: 0 auto;
}

.column{
  display: flex;

  justify-content: space-between;
}

/*HEADER*/

.main-header{
  margin-top: 10px;
}

.header-wrapper{
  position: relative;

  display: flex;
  flex-direction: column;
}

.navigation-wrapper{
  z-index: 2;

  display: flex;
}

.header-logo{
  margin-right: 6px;
}

.main-navigation{
  display: flex;

  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

/*делаем основное меню флексовым*/
.main-menu{
  display: flex;

  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 6px;
}
.main-menu-item{
  padding-bottom: 20px;
}
/*стилизуем элементы меню*/
.main-menu-link{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  position: relative;

  display: block;

  margin-right: 6px;
  padding-top: 5px;
  padding-right: 11px;
  padding-bottom: 5px;
  padding-left: 11px;

  text-decoration: none;
}
/*подчеркивание для элементов меню*/
.main-menu-link::after{
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;

  width: calc(100% - 20px);
  height: 1px;
  margin: 0 auto;

  content: '';

  background-color: rgba(255, 255, 255, .2);
}
/*эффекты наведения фокусировки и клика*/
.main-menu-link:hover,
.main-menu-link:focus{
  color: #323232;

  text-decoration: none;

  border-radius: 25px;
  outline: none;
  background-color: #f7f6f3;
}

.main-menu-link:active{
  color: #323232;

  text-decoration: none;

  border-radius: 25px;
  outline: none;
  background-color: #ededed;
}
/*подсветка текущей страницы*/
.current{
  border-radius: 25px;
  background-color: #d07058;
}

.current::after{
  background-color: transparent;
}

/*стилизуем меню каталога*/
.sub-menu{
  position: absolute;
  z-index: 2;

  display: none;
  overflow: hidden;

  margin-top: 5px;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.main-menu-item:hover .sub-menu{
  display: block;
}
.sub-menu-link{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  display: block;

  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;

  text-decoration: none;
}

/*эффекты наведения фокусировки и клика*/
.sub-menu-link:hover,
.sub-menu-link:focus{
  outline: none;
  background-color: #fbded7;
}

.sub-menu-link:active{
  background-color: #f6b5a5;
}

/*после этого элемента рисуется разделитель
так же увеличивается внутренний отступ*/
.divider{
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;
}

.divider::after{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  width: calc(100% - 20px);
  height: 1px;
  margin: 0 auto;

  content: '';

  background-color: rgba(0, 0, 0, .2);
}

/*делаем меню пользователя флексовым
и прижимаем его элементы к правой стороне*/
.user-navigation{
  display: flex;

  padding-top: 5px;

  justify-content: flex-end;
  align-items: center;
}
.user-navigation-item{
  position: relative;

  margin-left: 8px;
  padding-bottom: 20px;
}
/*у всех кнопок в секции с классом user-navigation один шрифт,
цвет шрифта, одинаковый бекгранунд ховер и т.д.*/
.user-button{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  display: flex;

  margin-left: 2px;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;

  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);

  align-items: center;
  fill: #ffffff;
}

.user-button:hover,
.user-button:focus{
  color: #323232;

  cursor: pointer;

  background-color: #f8f7f4;

  fill: #323232;
}

.user-button:active{
  color: #323232;

  background-color: #ededed;
}

.button-search{
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 7px;
}

.button-login svg,
.button-cart svg{
  margin-right: 7px;
}
.user-navigation-popup{
  position: absolute;
  top: 38px;
  right: 0;
}

/*form input textarea*/
.form-fieldset{
  border: none;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.form-input{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;

  box-sizing: border-box;
  width: 100%;
  padding: 7px 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
}

.form-input:hover{
  box-shadow: 0 0 0 1px rgba(154, 154, 154, .52);
  box-shadow: inset 0 0 0 1px rgba(154, 154, 154, .52);
}

.form-input:focus{
  box-shadow: 0 0 0 2px rgba(46, 136, 228, .52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, .52);
}

/*Всплывающее окно поиска*/
.search-form{
  display: none;

  width: 341px;
}

.user-search:hover .search-form{
  display: block;
}
.search-fieldset{
  padding: 15px 20px;
}

/*Всплывающее окно входа*/
.account-form{
  display: none;

  width: 277px;
}

.user-login:hover .account-form{
  display: block;
}

.account-fieldset{
  padding: 20px;
}
.account-input{
  margin: 0;
  margin-bottom: 20px;
}
.acount-form-footer{
  display: flex;
}
.login-submit{
  margin-right: 10px;
  padding: 10px 25px;

  border-radius: 25px;
}
.account-form-list{
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
}

/*ссылки на форме входа в личный кабинет*/
.form-link{
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;

  position: relative;

  text-decoration: none;
}

.form-link::after{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  content: '';

  background-color: rgba(0, 0, 0, .3);
}

.form-link:hover::after{
  background-color: rgba(255, 188, 158, .3);
}
/*корзина*/
.cart-form{
  display: none;
  flex-direction: column;

  box-sizing: border-box;
  width: 565px;
  padding: 15px 15px;

  align-items: flex-end;
}
.user-cart:hover .cart-form{
  display: flex;
}

.cart-item{
  position: relative;

  display: flex;

  margin-bottom: 10px;
  padding-right: 15px;
}

.cart-item:last-of-type::after{
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;

  width: 510px;
  height: 1px;
  margin: 0 auto;

  content: '';

  background-color: rgba(0, 0, 0, .1);
}

.delete-item{
  box-sizing: border-box;
  height: 15px;
  margin-top: 8px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.cart-item-img{
  width: 33px;
  margin: 0;
  margin-left: 14px;
}
.cart-item-name{
  width: 220px;
  margin-left: 14px;
}
.cart-item-prise{
  margin-left: 32px;
}
.cart-item-cost{
  margin-left: 30px;
}

.cart-text{
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  display: inline-block;

  padding-top: 8px;

  border: none;
  background-color: transparent;

      -ms-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: textfield;
          appearance: none;
}
.cart-price{
  color: #999999;
}

.cart-total{
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;

  margin-top: 10px;
  margin-bottom: 17px;
}

.cart-button{
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;

  border-radius: 25px;
}

.schedule{
  position: absolute;
  z-index: 1;
  top: 85%;
  right: 0;

  text-align: right;
}

.schedule p{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.schedule a{
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;

  text-decoration: none;
}
/*КОНЕЦ HEADER*/

/*MAIN*/
/*блок slider*/
.slider{
  position: relative;

  margin-top: -85px;
}

.slider-item{
  position: relative;

  display: flex;
  flex-direction: column;

  text-align: center;

  align-items: center;
}

.slider-footer{
  position: absolute;
  top: 393px;
  left: 50%;

  width: 675px;
  margin-left: -337px;
}
.slider-footer p{
  margin: 0;
  margin-bottom: 30px;
}
.slider-button{
  display: block;

  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 50px;
}
.slider-item p{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.slider-item a{
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  text-decoration: none;
}
.slider-navigation-list{
  position: absolute;
  bottom: 296px;
  left: 1px;

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  border: none;
}

.slider-navigation-item{
  width: 19px;
  height: 19px;
  margin-right: 9px;

  border: 2px solid #ffffff;
  border-radius: 21px;
  background-color: transparent;
}

.slider-navigation-item:hover,
.slider-navigation-item:focus{
  cursor: pointer;

  background-color: rgba(247, 248, 244, .4);;
}

.slider-navigation-list .active{
  background-color: #ffffff;
}

/*блок акция*/
.promotion-content{
  position: relative;
  z-index: 1;

  margin-top: -232px;
}

.promotion{
  display: flex;
  flex-direction: column;

  width: 523px;
  padding: 16px 18px;

  border-radius: 18px;
}

.promotion h3{
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
  margin-bottom: 15px;
}

.promotion p{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  margin: 0;
  margin-left: 1px;
}

.promotion-button{
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;

  display: block;

  margin-top: 43px;
  margin-right: 2px;
  margin-bottom: 11px;

  text-align: center;
  text-decoration: none;

  border-radius: 25px;

  align-self: flex-end;
}

.raspberry{
  background-color: #9d0532;
  background-image: url('../img/background-raspberry.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.raspberry-button{
  padding-right: 23px;
  padding-left: 23px;
}

.choco{
  background-color: #412211;
  background-image: url('../img/background-choco.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.choco-button{
  padding-right: 20px;
  padding-left: 20px;
}

/*блок преимущества*/
.advantages{
  color: #323232;

  margin-top: 36px;
  margin-bottom: 40px;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  border-radius: 15px;
  background-color: #ebdcbc;
  background-image: url('../img/background-waffle.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages p{
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  margin: 0;
  margin-bottom: 10px;
}

.advantages-list{
  display: flex;

  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages-item{
  width: 540px;
}

.advantages-item p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin-left: 55px;
  padding-top: 10px;
}

.ice-cream{
  background-image: url('../img/svg/ice-cream.svg');
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 49px 49px;
          background-size: 49px 49px;
}

.eco{
  background-image: url('../img/svg/eco.svg');
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 49px 49px;
          background-size: 49px 49px;
}

.cow{
  background-image: url('../img/svg/cow.svg');
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 49px 49px;
          background-size: 49px 49px;
}

.thermometer{
  background-image: url('../img/svg/thermometer.svg');
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 49px 49px;
          background-size: 49px 49px;
}

/*блок новое в блоге+рассылка*/
.new-in-blog{
  background-color: #ffffff;
  background-image: url('../img/background-strawberry.jpg');
  background-repeat: no-repeat;
  background-position: 20% 35%;
}

.new-in-blog h2{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;

  margin: 0;
  margin-bottom: 20px;
}
.new-in-blog-link{
  width: 60%;
}

.new-in-blog a{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}
.new-in-blog a:hover,
.new-in-blog a:focus{
  color: #e84d37;
}
.subscribe{
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;

  border: 5px solid #92cdff;
  border-image-source: url('../img/svg/background-post.svg');
  border-image-slice: 5;
  border-image-repeat: round;
  background-color: #f8f7f4;
  background-image: url('../img/background-postal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.subscribe p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;

  margin: 0;
  padding-left: 10px;
}

.subscribe form{
  display: flex;

  margin-top: 38px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.subscribe .form-input{
  width: 100%;
  height: 45px;
}

.button-subscribe{
  margin-right: 5px;
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  border-radius: 25px;
}

/*блок с картой*/
.map{
  width: 1200px;
  margin: 0 auto;
  margin-top: 35px;

  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: auto auto;
          background-size: auto auto;
}

.map .content-container{
  display: flex;

  justify-content: flex-end;
}

.address{
  box-sizing: border-box;
  width: 302px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding-top: 27px;
  padding-right: 23px;
  padding-bottom: 27px;
  padding-left: 23px;

  border-radius: 12px;
  background-color: #fefefe;
}

.address h2{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  margin: 0;
}

.address p{
  margin: 0;
  margin-top: 3px;
  margin-bottom: 15px;
}
.address-tel{
  display: block;

  margin-top: 6px;
  margin-bottom: 5px;
}
.address span{
  font-weight: 400;
  color: #323232;
}

.address-text{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;

  text-decoration: none;
}
.address-button{
  display: block;

  margin-top: 23px;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 28px;

  border-radius: 25px;
}

/*хлбные крошки*/
.breadcrumb-menu{
  display: flex;

  max-width: 900px;
  margin: 0;
  margin-top: 14px;
  padding: 0;

  list-style: none;
}

.breadcrumb-menu li::after{
  margin-right: 5px;
  margin-left: 5px;

  content: '»';
}

.breadcrumb-menu li:last-child::after{
  display: none;
}

.breadcrumb-menu a{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/*название текущего раздела каталога*/
.catalog-tittle{
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin: 0;
  padding: 0;
  padding-top: 3px;
}

/*фильтры каталога*/
.filters{
  display: flex;

  flex-wrap: wrap;
}

.filters legend{
  margin-left: 11px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  color: red;
}
.filters input[type='checkbox'],
.filters input[type='radio']{
  display: none;
}
.filters-fildset{
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 26px;
  padding: 0;

  border: none;
}

.filters-fildset-text{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}
.filters-fildset-wrapper{
  /*height: 36px;*/
  /*margin-left: -11px;*/
  /*padding-left: 11px;*/

  border-radius: 25px;
  background-color: rgba(248, 247, 244, .2);
  background-color: rgba(0, 247, 244, .2);
}
.filter-sort{
  margin-right: 12px;
}
.filter-sort-content{
  position: relative;

  display: flex;

  width: 180px;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 6px;
}
.filter-sort-content::after{
  font-size: 16px;
  z-index: 1;

  position: absolute;
  top: 12px;
  right: 10px;

  content: '▼';
}
.filter-sort-content:hover{
  color: #323232;
}

.filter-sort-select{
  z-index: 2;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: transparent;

      -ms-appearance: none;
     -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}

.filter-sort-select::-ms-expand{
  display: none;
}

.filter-sort-select:hover{
  color: #323232;
}

.filter-sort-select option{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
}
.filter-cost{
  padding-top: 0;
  margin-right: 14px;
}
.filter-cost-header{
  display: flex;
}
.filter-cost-value{
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;

  display: flex;
}
.filter-cost-value input{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  display: block;

  width: 30px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  -moz-appearance: textfield;
}

.filter-cost-value input::-webkit-outer-spin-button,
.filter-cost-value input::-webkit-inner-spin-button{
  margin: 0;

  -webkit-appearance: none;
}
.range{
  position: relative;

  width: 207px;
  height: 36px;
  padding-left: 11px;
}
.range-line{
  position: absolute;
  top: 16px;

  height: 4px;
}
.range-line-back{
  left: 20px;

  width: 176px;

  opacity: .5;
  background-color: #f8f7f4;
}
.range-line-front{
  left: 36px;

  width: 107px;

  background-color: #f8f7f4;
}
.range-button{
  position: absolute;
  top: 7px;
  width: 25px;
  height: 25px;

  margin: 0;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url("../img/svg/filter-button.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.range-button-min{
  left: 33px;
}
.range-button-max{
  right: 67px;
}
.filter-fatness-content{
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 7px;
  padding-right: 10px;
}
.filter-fatness-content label{
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 5px;
}
.filter-fatness-radio:not(checked) + label{
  position: relative;

  /*padding-left: 30px;*/
}
.filter-fatness-radio:not(checked) + label::before{

  margin-right: 9px;
  width: 14px;
  height: 14px;

  content: '';

  opacity: .8;
  border: 4px solid #fff;
  border-radius: 50%;
}
.filter-fatness-radio:not(checked) + label:hover::before{
  opacity: 1;
}
.filter-fatness-radio:not(checked):disabled + label::before{
  opacity: .4;
}
.filter-fatness-radio:checked + label::after{
  position: absolute;
  top: 12px;
  left: 12px;

  width: 4px;
  height: 4px;

  content: '';

  opacity: .8;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}
.filter-fatness-radio:checked + label:hover::after{
  opacity: 1;
}
.filter-fatness-radio:checked:disabled + label::after{
  opacity: .4;
}
.filter-fatness-fat0::before{
  margin-right: 7px;
}
.filter-fatness-fat10{
  margin-left: 10px;
}
/*.filter-fatness-fat10::before{
  margin-right: 9px;
}*/
.filter-fatness-fat30{
  margin-left: 8px;
}
/*.filter-fatness-fat30::before{
  margin-right: 9px;
}*/
.filter-fatness-fat30up{
  margin-left: 9px;
}
/*.filter-fatness-fat30up::before{
  margin-right: 9px;
}*/
.filter-filler{
  margin-top: 8px;
}
.filter-filler-content{
  display: flex;

  width: 688px;
  margin-top: 16px;
  padding: 0;
  padding-left: 14px;
}
.filters-filler-text{
  position: relative;

  margin-top: 10px;
  padding-left: 32px;

  cursor: pointer;
}
.filter-filler-icon{
  position: absolute;
  top: -3px;
  left: 0;

  display: none;

  fill: rgba(255, 255, 255, .8);
}
.filters-filler-text:hover .filter-filler-icon{
  fill: rgba(255, 255, 255, 1);
}
.filter-filler-sugar{
  margin-left: 19px;
}
.filter-filler-fruit{
  margin-left: 20px;
}
.filter-filler-syrup{
  margin-left: 24px;
}
.filter-filler-jam{
  margin-left: 20px;
}
.filter-filler-checkbox:not(checked) + label > .filter-filler-checkbox-off{
  display: block;
}
.filter-filler-checkbox:checked + label > .filter-filler-checkbox-on{
  display: none;
}
.filter-filler-checkbox:checked + label > .filter-filler-checkbox-off{
  display: none;
}
.filter-filler-checkbox:checked + label > .filter-filler-checkbox-on{
  display: block;
}
.filter-filler-checkbox:disabled + label > .filter-filler-icon{
  fill: rgba(255, 255, 255, .4);
}
.filter-button{
  width: 144px;
  height: 33px;
  margin-top: 30px;
  padding: 0 auto;

  cursor: pointer;

  border: none;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);
}
.filter-button:hover{
  color: #323232;

  background-color: rgba(255, 255, 255, 1);
}
.filter-button:active{
  color: #323232;

  height: 37px;

  border: none;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: inset 0 2px 1px #696969;
}

/*блок с товарами*/
.products{
  flex-wrap: wrap;
  /*margin-top: -10px;*/
}

.products-item{
  position: relative;
  z-index: 1;

  width: 267px;
  margin-top: 34px;

  text-align: center;
}
.products-item-hit::before{
  content: "";
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 0;
  background-image: url(../img/svg/hit.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.products-item:hover{
  z-index: 2;
}

.products-item:hover::after{
  position: absolute;
  top: -7px;
  left: -12px;

  width: calc(100% + 25px);
  height: calc(100% + 88px);
  margin: 0 auto;

  content: '';

  border-radius: 5px;
  background-color: rgba(248, 247, 244, .2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.image-hit{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.products-item:hover .products-image{
  position: relative;
  z-index: 1;
}

.products-item p{
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: absolute;
  z-index: 2;
  top: 210px;
  left: 0;

  margin: 0;

  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.products-item span{
  font-size: 30px;
}

.products-link{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  position: relative;
  z-index: 2;

  display: inline-block;

  margin-top: 11px;
}

.products-button{
  position: absolute;
  z-index: 3;
  right: 30px;
  bottom: -68px;
  left: 30px;

  display: none;

  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 12px;

  border-radius: 25px;
}

.products-item:hover .products-button{
  display: block;
}

.catalog-navigation{
  display: flex;

  margin-top: 80px;
  padding-bottom: 30px;

  border-bottom: 1px solid rgba(255, 255, 255, .3);

  align-items: center;
  justify-content: flex-end;
}

/* класс через JS будет вешаться если
мы находимся на первой или последней странице*/
.catalog-navigation .disabled{
  border-color: rgba(255,255,255,.3);
}

.catalog-navigation ul{
  list-style: none;
}

.catalog-navigation a{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;

  border-radius: 50%;
}

.catalog-navigation a:hover{
  background-color: #9db1a5;
}

.catalog-navigation a.active{
  color: #323232;

  background-color: #ffffff;
}

/*блок со страницами каталога*/
.button-navigation{
  width: 12px;
  height: 12px;
  padding: 0;

  cursor: pointer;

  border: none;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background-color: transparent;
}
.button-navigation[role='down']{
  transform: rotate(-45deg);
}
.button-navigation[role='up']{
  transform: rotate(135deg);
}

.catalog-pages{
  display: flex;

  margin: 0;
  padding: 0;
}

.catalog-pages-item{
  margin-right: 4px;
}

.catalog-pages-item:first-child{
  margin-left: 13px;
}
.catalog-pages-item:last-child{
  margin-right: 15px;
}

.catalog-pages-item a{
  line-height: 26px;

  display: block;

  width: 26px;
  height: 26px;

  text-align: center;
}
/*КОНЕЦ MAIN*/

/*FOOTER*/
.footer-content{
  position: relative;

  display: flex;

  padding-top: 20px;
  padding-bottom: 30px;

  /*justify-content: space-between;*/
}
.main-footer-navigation{
  display: flex;

  flex-grow: 1;
  justify-content: space-between;
}
/*соцсети*/
.social-network{
  display: flex;
}

.social-network a{
  display: block;

  width: 32px;
  height: 32px;
  margin-top: 17px;
  margin-right: 11px;

  border: 3px solid rgba(254,254,254,.5);
  border-radius: 50%;

  fill: rgba(254,254,254,.8);
}

.social-network a:hover,
.social-network a:focus{
  fill: rgba(254,254,254,1);
}

.social-network a:active{
  border: 3px solid rgba(254,254,254,.7);
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, .004);

  fill: rgba(254,254,254,.5);
}


.footer-menu{
  display: flex;

  width: 330px;
  margin-top: 20px;
  margin-right: 220px;

  flex-wrap: wrap;
  align-content: center;
}

.footer-menu-item{
  width: 50%;
  margin-bottom: 4px;

  fill: #ffffff;
}

.footer-menu-link{
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  position: relative;

  text-decoration: none;
}

.footer-menu-item:nth-child(3) .footer-menu-link{
  margin-left: 22px;
}

.footer-heart{
  padding-right: 7px;
}
.footer-menu-link::after{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;
  margin: 0 auto;

  content: '';

  background-color: rgba(255, 255, 255, .2);
}
.footer-menu-item:first-child .footer-menu-link::after{
  position: absolute;
  bottom: 0;
  left: 22px;

  width: calc(100% - 22px);
  height: 1px;
  margin: 0;

  content: '';

  background-color: rgba(255, 255, 255, .2);
}
.footer-menu-link:hover::after{
  background-color: rgba(255, 188, 158, .2);
}
.footer-menu-link:hover .footer-heart{
  fill: #ffbc9e;
}
.copyright{
  width: 197px;

  flex-shrink: 0;
}
.copyright p{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  margin: 0;
  padding: 0;
}

.copyright-logo{
  width: 108px;
  height: 39px;
  margin-top: 2px;
  margin-left: 10px;
}
/*КОНЕЦ FOOTER*/

/*МОДАЛЬНОЕ ОКНО*/
.modal{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  display: none;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0,.3);
}
.modal-show{
  display: flex;
}
.modal-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.modal-form{
  display: flex;
  flex-direction: column;

  width: 478px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 27px;
  padding-left: 24px;
}

.modal p{
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;

  margin: 0;
  margin-bottom: 24px;
}
.modal-input{
  width: 50%;
  margin-bottom: 20px;
}
.modal-textarea{
  height: 155px;
  margin-bottom: 25px;
}
.modal-send{
  margin-bottom: 10px;
  padding: 7px 24px;

  border-radius: 25px;

  align-self: flex-end;
}
.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 0;

  border: none;
  background-color: transparent;
}
.modal-close:hover{
  cursor: pointer;
}
/*КОНЕЦ МОДАЛЬНОЕ ОКНО*/
