body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;
  /*background-image: url("../img/gllacy-index.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;
}

img{
  max-width: 100%;
  height: auto;
}

/*этот класс унас на всем что выглядит как красная кнопка*/
.button{
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  text-decoration: none;

  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

  cursor: pointer;
}

.button:hover,
.button:focus{
  background-color: #fff;
  background-image: linear-gradient(to top, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  box-shadow: 0 1px 2px #ac1000;

}

.button:active{
  background-color: #fff;
  background-image: linear-gradient(to top, rgba(231, 74, 53, 0.93) 0%, rgba(242, 104, 67, 0.93) 100%);
  box-shadow: inset 0 2px 2px #942718;
}

/*hover и focuse всех ссылок по умолчанию*/
.default-link:hover,
.default-link:focus,
.default-link:active{
  color: #ffbc9e;

  fill: #ffbc9e;

  outline: none;
}
/*обнуляем отступы в списках*/
.list{
  margin: 0;
  padding: 0;

  list-style: none;
}
/*класс скрывающий эллементы*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*ограниччивает ширину и выравнивает*/
.content-container{
  width: 1146px;
  margin: 0 auto;
}

.column{
  display: flex;
  justify-content: space-between;
}

     /*HEADER*/
/*оступ шапки от верха страницы*/
.main-header{
  margin-top: 10px;
}
/*блоки хедера выстариваем в столбик*/
.header-wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}
/*группируем элементы первойстроки хедера*/
.navigation-wrapper{
  display: flex;
  z-index: 2;
}

.header-logo{
  margin-right: 6px;
}
/*отделяем блок навигации от логотипа
разрешаем ему забирать все свобоное пространство
и рискидываем его содержимое по сторонам*/
.main-navigation{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

/*делаем основное меню флексовым*/
.main-menu{
  display: flex;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 6px;  
}
.main-menu-item{
  padding-bottom: 20px;
}
/*стилизуем элементы меню*/
.main-menu-link{
  display: block;
  position: relative;
  margin-right: 6px;
  padding-top: 5px;
  padding-right: 11px;
  padding-bottom: 5px;
  padding-left: 11px;  

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
/*подчеркивание для элементов меню*/
.main-menu-link::after{
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  right: 0;
  margin: 0 auto;
}
/*эффекты наведения фокусировки и клика*/
.main-menu-link:hover,
.main-menu-link:focus{
  color: #323232;

  border-radius: 25px;
  background-color: #f7f6f3;

  outline: none;
  text-decoration: none;
}

.main-menu-link:active{
  color: #323232;

  border-radius: 25px;
  background-color: #ededed;

  outline: none;
  text-decoration: none;
}
/*подсветка текущей страницы*/
.current {
  background-color: #d07058;
  border-radius: 25px;
}

.current::after{
  background-color: transparent;
}

/*стилизуем меню каталога*/
.sub-menu{
  display: none;
  position: absolute;
  overflow: hidden;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.main-menu-item:hover .sub-menu{
  display: block;
}
.sub-menu-link{
  display: block;
  margin: 0;
  padding: 0;
  padding-top:9px;
  padding-right: 20px;
  padding-bottom:9px;  
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  text-decoration: none;
}

/*эффекты наведения фокусировки и клика*/
.sub-menu-link:hover,
.sub-menu-link:focus{
  background-color: #fbded7;

  outline: none;
}

.sub-menu-link:active{
  background-color: #f6b5a5;
}

/*после этого элемента рисуется разделитель
так же увеличивается внутренний отступ*/
.divider{
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

.divider::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);;
  right: 0;
  margin: 0 auto;
}

/*делаем меню пользователя флексовым
и прижимаем его элементы к правой стороне*/
.user-navigation{
  display: flex;  
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}
.user-navigation-item{
  position: relative;
  margin-left: 8px;
  padding-bottom: 20px;
}
/*у всех кнопок в секции с классом user-navigation один шрифт,
цвет шрифта, одинаковый бекгранунд ховер и т.д.*/
.user-button{
  display: flex;
  align-items: center;
  margin-left: 2px;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  border:none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  fill: #ffffff; 
}

.user-button:hover,
.user-button:focus{
  color: #323232;

  background-color: #f8f7f4;
  fill: #323232;

  cursor: pointer;
}

.user-button:active{
  color: #323232;

  background-color: #ededed;
}

.button-search{
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 7px;
}

.button-login svg,
.button-cart svg{
  margin-right: 7px;
}
.user-navigation-popup{
  position: absolute;
  top: 38px;
  right: 0;
}

/*form input textarea*/
.form-fieldset{
  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.form-input{
  box-sizing: border-box;
  padding: 7px 15px;
  width: 100%;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;  
}

.form-input:hover{
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.form-input:focus{
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

/*Всплывающее окно поиска*/
.search-form{
  display: none;
  width: 341px;    
}

.user-search:hover .search-form{
  display: block;
}
.search-fieldset{
  padding: 15px 20px;
}

/*Всплывающее окно входа*/
.account-form{
  display: none;
  width: 277px;
}

.user-login:hover .account-form{
  display: block;
}

.account-fieldset{
  padding: 20px;
}
.account-input{
  margin: 0;
  margin-bottom: 20px;  
}
.acount-form-footer{
  display: flex;
}
.login-submit{
  margin-right: 10px;
  padding: 10px 25px;
  border-radius: 25px;
}
.account-form-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*ссылки на форме входа в личный кабинет*/ 
.form-link{
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
}

.form-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.form-link:hover::after{
  background-color: rgba(255, 188, 158, 0.3);
}
/*корзина*/
.cart-form{
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  width: 555px;
  padding: 15px 15px;  
}
.user-cart:hover .cart-form{
  display: flex;
}

.cart-item{
  position: relative;
  display: flex;
  padding-right: 15px;
  margin-bottom: 10px;
}
/*Не понимаю почему не работает с ласт чайлд*/
.cart-item:last-child::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 510px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);;
  right: 0;
  margin: 0 auto;
}

.delete-item{
  width: 11px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.cart-item-img{
  width: 33px;
  margin-left: 14px;
}
.cart-item-name{
  width: 220px;
  margin-left: 14px;
}
.cart-item-prise{
  margin-left: 32px;
}
.cart-item-cost{
  margin-left: 30px;
}

.cart-text{
  display: inline-block;
  padding-top: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  background-color: transparent;
  border:none;

  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance:textfield;
  appearance: none;     
}
.cart-price{
  color: #999999;
}

.cart-total{
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
}

.cart-button{
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-radius: 25px;
}

.schedule{
  position: absolute;
  z-index: 1;
  right: 0;
  top: 91%;
  
  text-align: right;
}

.schedule p{
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.schedule a{
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;

  text-decoration: none;
}
      /*КОНЕЦ HEADER*/
      
      /*MAIN*/
/*блок slider*/
.slider{
  position: relative;
  margin-top: -80px;
}

.slider-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.slider-footer{
  position: absolute;
  top:393px;
  width: 675px;
}
.slider-footer p{
  margin: 0;
  margin-bottom: 30px;
}
.slider-button{
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 50px;
}
.slider-item p{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.slider-item a{
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  text-decoration: none;
}
.slider-navigation-list{
  display: flex;
  position: absolute;
  left: 1px;
  bottom: 296px; 
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.slider-navigation-item{
  margin-right: 9px;
  width: 19px;
  height: 19px;
  border-radius: 21px;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.slider-navigation-item:hover,
.slider-navigation-item:focus{
  background-color: rgba(247, 248, 244, 0.4);;
  cursor: pointer;
}

.slider-navigation-list .active{
  background-color: #ffffff;
}

/*блок акция*/
.promotion-content{
  position: relative;
  z-index: 1;
  margin-top: -232px;
}

.promotion{
  display: flex;
  flex-direction: column;

  width: 523px;
  padding: 16px 18px;

  border-radius: 18px;
}

.promotion h3{
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.promotion p{
  margin: 0;
  margin-left: 1px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.promotion-button{
  display: block;
  align-self: flex-end;  
  
  margin-top: 43px;
  margin-right: 2px;
  margin-bottom: 11px;

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;

  text-decoration: none;

  border-radius: 25px;
}

.raspberry{
  background-color: #9d0532;
  background-image: url("../img/background-raspberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.raspberry-button{  
  padding-left: 23px;
  padding-right: 23px;
}

.choco{
  background-color: #412211;
  background-image: url("../img/background-choco.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.choco-button{
  padding-left: 20px;
  padding-right: 20px;
}

/*блок преимущества*/
.advantages{  
  margin-top: 36px;
  margin-bottom: 40px;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  color: #323232;

  background-color: #ebdcbc;
  background-image: url("../img/background-waffle.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.advantages p{
  margin: 0;
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  list-style: none;
}
.advantages-item{
  width: 540px;
}

.advantages-item p{
  margin-left: 55px;
  padding-top: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.ice-cream{
  background-image: url("../img/svg/ice-cream.svg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 49px 49px;
  background-size: 49px 49px;
}

.eco{
  background-image: url("../img/svg/eco.svg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 49px 49px;
  background-size: 49px 49px;
}

.cow{
  background-image: url("../img/svg/cow.svg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 49px 49px;
  background-size: 49px 49px;
}

.thermometer{
  background-image: url("../img/svg/thermometer.svg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 49px 49px;
  background-size: 49px 49px;
}

/*блок новое в блоге+рассылка*/
.new-in-blog{

  background-color: #ffffff;
  background-image: url("../img/background-strawberry.jpg");
  background-position: 20% 35%;
  background-repeat: no-repeat;
}

.new-in-blog h2{
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}
.new-in-blog-link{
  width: 60%;
}

.new-in-blog a{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}
.new-in-blog a:hover,
.new-in-blog a:focus{
  color: #e84d37;
}
.subscribe{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;

  border: 5px solid #92cdff;
  border-image-source: url("../img/svg/background-post.svg");
  border-image-slice: 5;
  border-image-repeat: round;
  background-color: #f8f7f4;
  background-image: url("../img/background-postal.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe p{
  margin: 0;
  padding-left: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe form{
  display: flex;
  margin-top: 38px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.subscribe .form-input{
  width: 100%;
  height: 45px;
}

.button-subscribe{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 10px;
  margin-right: 5px;

  border-radius: 25px;
} 

/*блок с картой*/
.map{  
  width: 1200px;
  margin: 0 auto;
  margin-top: 35px;

  background-image: url("../img/map.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.map .content-container{
  display: flex;
  justify-content: flex-end;
}

.address{
  box-sizing: border-box;
  width: 302px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding-top: 27px;
  padding-right: 23px;
  padding-left: 23px;
  padding-bottom: 27px;
  background-color: #fefefe;
  border-radius: 12px;
}

.address h2{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.address p{
  margin: 0;
  margin-top: 3px;
  margin-bottom: 15px;
}
.address-tel{
  display: block;
  margin-top: 6px;
  margin-bottom: 5px;
}
.address span{
  font-weight: 400;
  color: #323232;
}

.address-text{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;

  text-decoration: none;
}
.address-button{
  display: block;
  margin-top: 23px;
  padding-top: 12px;  
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 28px;

  border-radius: 25px;
}

/*хлбные крошки*/
.breadcrumb-menu{
  max-width: 900px;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumb-menu li::after{
  content: "»";
  margin-right: 5px;
}

.breadcrumb-menu li:last-child::after{
  display: none;
}

.breadcrumb-menu a{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/*название текущего раздела каталога*/
.catalog h1{
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

/*фильтры каталога
я потом доделаю стилизацию всего это добра когда уже
сетки построим и так далее
.filters fieldset{
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.filters legend{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sort{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border: none;
  background-color: transparent;

  -ms-appearance: none;
  appearance: none!important;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sort::-ms-expand{
  display: none;
}

.filter-sort::after{
  content: "▼";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.sort option{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.filter-cost p{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}
.filter-cost input{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  border: none;
  background-color: transparent;

  -moz-appearance: textfield;
}

.filter-cost input::-webkit-outer-spin-button,
.filter-cost input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-button{
  background-color: transparent;
  border: none;
}

.filter-fatness label{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-fatness input{
  font-size: 20px;
}*/

/*блок с товарами*/
.products{
  flex-wrap: wrap;
}

.products-item{
  position: relative;
  z-index: 1;
  width: 267px;
  margin-top: 40px;

  text-align: center;
}

.products-item:hover{
  z-index: 2;
}

.products-item:hover::after{
  content: "";
  position: absolute;
  top: -7px;
  left: -12px;
  width: calc(100% + 25px);
  height: calc(100% + 88px);
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.image-hit{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.products-item:hover .products-image{
  position: relative;
  z-index: 1;
}

.products-item p{
  position: absolute;
  z-index: 2;
  top: 210px;
  left: 0;
  margin: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.products-item span{
  font-size: 30px;
}

.products-link{
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 11px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.products-button{
  position: absolute;
  z-index: 3;
  left: 30px;
  right: 30px;
  bottom: -68px;
  display: none;

  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 12px;
  border-radius: 25px;
}

.products-item:hover .products-button{
  display: block;
}

.catalog-navigation{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 90px;
  padding-bottom: 30px;    
}

/* класс через JS будет вешаться если 
мы находимся на первой или последней странице*/
.catalog-navigation .disabled{
  fill: #9db1a5;
}

.catalog-navigation ul{
  list-style: none;
}

.catalog-navigation a{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}

.catalog-navigation a:hover{
  background-color: #9db1a5;
}

.catalog-navigation a.active{
  color: #323232;
  background-color: #ffffff;
}

/*блок со страницами каталога*/
.button-navigation{
  background-color: transparent;
  border: none;
  fill: #ffffff;

  cursor: pointer;
}
.catalog-pages{
  display: flex;

  margin: 0;
  padding: 0;  
}

.catalog-pages-item{
  margin-right: 13px;
}

.catalog-pages-item:first-child{
  margin-left: 13px;
}

.catalog-pages-item a{
  display: block;  
  width: 26px;
  height: 26px;

  text-align: center;

  line-height: 26px;
}
      /*КОНЕЦ MAIN*/

      /*FOOTER*/
.main-footer ul{
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-content{
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 30px;  
}

/*соцсети*/
.social-network{
  display: flex;
}

.social-network a{
  display: block;
  
  width: 32px;
  height: 32px;
  margin-top: 17px;
  margin-right: 11px;

  fill: rgba(254,254,254,0.8);
  border-radius: 50%;
  border: 3px solid rgba(254,254,254,0.5);
}

.social-network a:hover,
.social-network a:focus{
  fill: rgba(254,254,254,1);
}

.social-network a:active{
  fill: rgba(254,254,254,0.5);
  border: 3px solid rgba(254,254,254,0.7);
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.004);
}


.footer-menu{
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  width: 330px;  
}

.footer-menu li{
  width: 50%;
  margin-bottom: 6px;
}

.footer-menu-link{
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;  
  text-decoration: none;
}
.bold-link{
  font-weight: 700;
}

.footer-heart{
  position: absolute;
  left: -20px;
  top: 2px;
  fill: #ffffff;
}
.footer-menu-link:hover .footer-heart{
  fill: #ffbc9e;
}
.footer-menu-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
.footer-menu-link:hover::after{
  background-color: rgba(255, 188, 158, 0.2);
}

.copyright p{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
      /*КОНЕЦ FOOTER*/

      /*МОДАЛЬНОЕ ОКНО*/
.modal {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.modal-show{
  display: block;
}
.modal-form{
  display: flex;
  flex-direction: column;
  width: 478px;
  margin-top: 337px;
  margin-left: calc(50% - 263px);
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 27px;
  padding-left: 24px;
}

.modal p{
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}
.modal-input{
  width: 50%;
  margin-bottom: 20px;
}
.modal-textarea{
  margin-bottom: 25px;
  height: 155px;
}
.modal-send{
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 7px 24px;
  border-radius: 25px;
}
.modal-close{
  position: fixed;
  top: 356px;
  right: 50%;
  margin-right: -223px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.modal-close:hover{
  cursor: pointer;
}
      /*КОНЕЦ МОДАЛЬНОЕ ОКНО*/